<!-- Genre name: <br><br>
Books in this genre:<br>

<br>
<%= link_to "Home", root_path %> -->


<center>
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h4 class="card-title"><%=@genre.name%></h4>
      <h6 class="card-text card-subtitle mb-2 text-muted">Books in this genre:</h6>
      <p class="card-text">
        <%@genre.books.each do |book|%>
          <%=book.title%> by <%=book.author.name%><br>
        <%end%>
      </p>
    </div>
  </center>
  <br>
</div>
