Other authors users have searched for:
<br>
<%@authors.each do |author|%>
  <a href="/authors/<%=author.id%>" class="badge badge-primary">
    <%=author.name%>
  </a>
  <br>
<%end%>
<br>
<%= link_to "Home", root_path %>
