<br>
<div class="card card-nav-tabs text-center">
  <div class="card-header card-header-success">
    <%= @author.name %>
  </div>
  <div class="card-body">
    <%@author.books.each do |book| %>
      <a href="/books/<%=book.id%>" >
      <%=book.title%>
      </a>
      <br>
    <%end%>
  </div>
</div>
