<%if @books.length > 0%>
  <%@books.each do |book| %>
    <a href="/books/<%=book.id%>" class="badge badge-primary">
    <%=book.title%> by <%=book.author.name%>
    </a>
    <br>
  <%end%>
<%else%>
  You have no books!
<%end%>
<br>
