/* Your custom styles */
.form-container {
  margin: 0 auto;
  width: 30%;
  padding-top: 2.5rem;
}

.card-body a {
  color: black;
}

.navbar {
  margin-bottom: 5rem;
}

.card-text {
  text-align: left;
}
