Look at all the reviews we have!<br><br>

<%@reviews.each do |review| %>
  <a href="/reviews/<%=review.id%>">
    Book: <%=review.book.title%><br>
    Rating: <%=review.rating%><br>
    Content: <%=review.content%><br>
    <br>
  </a>
<%end%>
