<!DOCTYPE html>
<html>
  <head>
    <title>Goog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <span class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </span>
            <span class="nav-item">
              <a href="/authors" class="nav-link">View All Authors</a>
            </span>
            <span class="nav-item">
              <a href="/books" class="nav-link">View All Books</a>
            </span>
            <span class="nav-item">
              <a href="/genres" class="nav-link">View All Genres</a>
            </span>
            <span class="nav-item">
              <a href="/reviews" class="nav-link">View All Reviews</a>
            </span>
            <span class="nav-item">
              <a href="/shelves" class="nav-link">View All Shelves</a>
            </span>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
